:root {
    .vp-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        max-width: 100%;
        margin: var(--navbar-height) 0 0 0;
        padding: 0;

        .vp-hero {
            display: none;
        }
    }

    .home-banner {
        display: flex;
        padding: 2.0rem 15.0rem 2.0em 15.0rem;
        background: linear-gradient(150deg, #459, #FFF);

        .banner-title-container {
            display: flex-inline;
            width: 62%;
            .banner-title {
                padding-bottom: 1.0rem;
                font-size: 2.0rem;
                font-weight: bold;
                color: #FFF;
            }
            .banner-subtitle {
                padding-bottom: 1.0rem;
                font-weight: 2.0rem;
                max-width: 60%;
                color: #FFF;
            }
            .github-buttons-container {
                padding-bottom: 1.0rem;
            }
        }

        .right-logo-container {
            display: flex;
            flex-direction: row;
            width: 38%;
        }
    }

    .home-para {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        justify-items: center;

        .para-title {
            display: flex;
            justify-content: center;
            padding: 1.0em;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .para-text {
            padding-bottom: 1rem;
            width: 100%;
            text-align: center;
        }
    }

    .feature-container-wrapper {
        display: flex;              /* 使用 flexbox 布局，默认方向为水平排列 */
        margin: 2.0rem;
        flex-wrap: wrap;
        margin-top: 50px;           /* 设置父容器与上方元素之间的间距 */

        .feature-container {
            display: flex;               /* 使用 Flexbox 布局 */
            max-width: 30%;
            min-width: 30%;
            flex-direction: column;      /* 设置 flex 方向为垂直排列 */
            padding-left: 1%;
            padding-right: 1%;
            padding-bottom: 1rem;

            .feature-title {
                display: flex;
                font-size: 2.0rem;         /* 设置标题字体大小 */
                color: #333;                /* 设置标题颜色 */
                align-items: center;
                img {
                    width: 3rem;                /* 图标宽度 */
                    height: 3rem;               /* 图标高度 */
                    margin-right: 1rem;         /* 图标和标题之间的间距 */
                }
            }

            .feature-details {
                font-size: 0.9rem;
            }
        }
    }

    .home-benchmark-container-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .home-benchmark-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .benchmark-chart-container {
          display: flex;
        }
    }

    .partners-container {
        display: flex;
        justify-content: center;
    }

    .partners {
        width: 60%;
        display: grid;  /* 使用网格布局来排列 logo */
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 自适应列数 */
        gap: 80px 40px;  /* logo 之间的间距 */
        margin: 40px 0;  /* 给容器上下添加一些空隙 */
    }

    /* 为 .partner-logo 设置样式，使图片居中 */
    .partner-logo {
        display: flex;  /* 使用 Flexbox 布局 */
        justify-content: center;  /* 水平居中 */
        align-items: center;  /* 垂直居中 */
        height: 100%;  /* 确保容器高度为100% */
    }
    /* 为 .partner-logo 中的图片添加样式 */
    .partner-logo img {
        width: 80%; /* 图片的宽度占满父容器 */
        height: auto; /* 保持图片的原始纵横比 */
        transition: transform 0.3s ease-in-out;  /* 添加动画效果 */
    }

    /* 图片悬停效果 */
    .partner-logo img:hover {
        transform: scale(1.1);  /* 鼠标悬停时放大图片 */
        opacity: 0.8;  /* 渐变效果 */
    }
}
